# ----
# Site

title: The Northen Dark
url: "https://www.thenorthendark.com"
baseurl:
google_analytics_key:
google_maps_javascript_api_key:
disqus_shortname:

# Values for the jekyll-seo-tag gem (https://github.com/jekyll/jekyll-seo-tag)
logo: images/siteicon.png
description: The Northen Dark
author:
  name: Dennis Gustafsson
  email:
  twitter: thenorthendark
social:
  name: The Northen Dark
  links:
    - https://www.instagram.com/thenortherndark/
    - https://www.facebook.com/Thenortherndark-100268094801769/

# -----
# Build
permalink: pretty


defaults:
  -
    scope:
      path: ""
    values:
      layout: "page"
  -
    scope:
      path: "index.html"
    values:
      layout: "default"

      
jekyll-archives:
  enabled:
    - categories

plugins:
  - jekyll-archives
  - jekyll-sitemap
  - jekyll-seo-tag
  - jekyll-feed
  - jekyll-paginate

exclude:
  - Gemfile
  - Gemfile.lock
  - README.md
  - ADD_CONTENT.md
  - LICENSE.CC BY-NC-ND 3.0.md
  - LICENSE.MIT.md
  - Rakefile
  - "*.Rmd"
  - vendor
  - .travis.yml
  - first-issue
  - images/first-issue.pdf
  - about
# -----
# Page Gen
page_gen:
  - data: 'chapters'
    template: 'blurb'
    name: 'title'
    dir: 'books'
