---
title: The Northern Dark
description: The Northern Dark graphic novels are a series of lovecraftian detective stories set in 1920'ies Sweden
carousel: books
---

<div class="text-container">
    <div style="padding:30px 0 0 0;">
            <h1>The Northern Dark</h1>
            <h3>A series of lovecraftian detective comics set in the 1920s of Sweden</h3>
    </div>
    <div style="padding:30px 0 0 0;">
        <div class="latest-chapter">
            {% if site.data.chapters[-1].comixology %}
                <a href="{{ site.data.chapters[-1].comixology }}">
            {% else %}
                <a href="{{ site.data.chapters[-1].cover }}.png">
            {% endif %}
                    <img class="hero-image" src="{{ site.baseurl }}/{{ site.data.chapters[-1].cover }}_tiny.png" alt="latest" data-echo="{{ site.baseurl }}/{{ site.data.chapters[-1].cover }}.png">
                </a>
            {% if site.data.chapters[-1].blurb %}
                <p style="color:white;" align="center">
                    <i>{{ site.data.chapters[-1].blurb }}</i>
                </p>
            {% endif %}
            
            It’s the 1920s. The western world is ripping through “The Roaring Twenties” in wild abandon. Unnoticed by the blight of “The Great War”, the black forested backwaters of Sweden must soon face up to its own terrors. The pacts of its pagan past are about to give birth to dark horrors.

        </div>
    </div>
    <div class="button-container">
        <button class="button" onClick="window.open('http://bit.ly/2MEfBVb')"><span> Click here to read the first chapter! </span></button>
    </div>
</div>

<div class="about">
    <div class="text-container">
        <h2>About the Series</h2>
        <b>The Northern Dark</b> is a supernatural detective comic written and illustrated by Dennis Gustafsson.<br><br>
  
        Nine graphic novels, together with a handful of shorts and specials, have appeared in various publications since 2010. Having aquired something of a cult following in Sweden, <b>The Northern Dark</b> comic books are currently being expanded and translated into English to be published as <a href="{{ site.data.chapters[-1].comixology }}" target="_blank">digital comics via Comixology.</a>
    </div>
</div>

{% include lazyload.html %}