{% assign gallery = site.data.chapters %}

<div class="nat-image-grid">
  {% for img in gallery reversed %}
    <div class="block">
        {% if img.comixology %}
            <a href="{{ site.baseurl }}/{{ img.comixology }}">
        {% else %}
            <a href="{{ {{ site.baseurl }}/{{ img.cover }}.png">
        {% endif %}
            <img src="{{ site.baseurl }}{{ img.cover }}_tiny.png" alt="latest" data-echo="{{ site.baseurl }}{{ img.cover }}.png">
        </a>
    </div>
  {% endfor %}
</div>
