$container_width: 1280px;
$maxwidth: 100%;
$img_padding: 10px;
$img_size: 200px;

* { box-sizing: border-box; }
body { margin: 0px; padding: 0px; }

h1 {
  text-align: center;
  text-transform: uppercase;
}

.nat-image-grid {
  width: $container_width;
  max-width: $maxwidth;
  margin: 0 auto;
  background-color: $brand-color;
  position: relative;
  text-align: center;
}

.block {
  width: $img_size;
  max-width: $maxwidth;
  background-color: $brand-color;
  padding: $img_padding;
  display: inline-block;
  position: relative;
  text-align: center;
  
  img {
    max-width: $maxwidth;
    display: block;
    width: $img_size;
    transition: opacity 0.3s ease-in-out;
    
    &:hover {
      opacity: 0.5;
    }
  }
  
  .message {
    display: block;
    position: relative;
    top: 0;
    display: none;
  }
  
}